.login {
  text-align: start;
}
.loginInput {
  border: 1px solid grey;
  width: 100%;
  border-radius: 7px;
  margin-top: 4px;
  margin-bottom: 4px;
  height: 35px;
  font-size: 18px;
  padding: 4px;
}
.loginLabel {
  margin-left: 4px;
}
.loginDiv {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.loginButton {
  background-color: skyblue;
  height: 35px;
  width: 70px;
  border-radius: 5px;
}
.loginButton:hover {
  border: 3px solid green;
}
