.signup {
  text-align: start;
}
.signupInput {
  border: 1px solid grey;
  width: 100%;
  border-radius: 7px;
  margin-top: 4px;
  margin-bottom: 4px;
  height: 35px;
  font-size: 18px;
  padding: 4px;
}
.signupLabel {
  margin-left: 4px;
}
.signupDiv {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.signupButton {
  background-color: skyblue;
  height: 35px;
  width: 75px;
  border-radius: 5px;
}
.signupButton:hover {
  border: 3px solid green;
}
